<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	  
  </configSections>
	<appSettings>
		<!-- symmKey must be 16 chars, and used if mode is AES -->
		<add key="symmKey" value="1234567890123456" />
		<add key="expiryInMins" value="60" />
		<add key="appCode" value="AMS" />
		<!--EntraId-->
		<add key="AzureAD:TenantId" value="your-tenantId" />
		<add key="AzureAD:ClientId" value="your-clientId" />
		<add key="AzureAD:ClientSecret" value="your-secret" />
		<add key="AzureAD:RedirectUri" value="http://localhost:131/sso/Login.aspx" />
		<add key="AzureAD:Authority" value="https://login.microsoftonline.com" />
		<add key="AzureAD:Claim" value="email" />
		<!--EntraId-->
	</appSettings>
	<system.web>
		<httpCookies httpOnlyCookies="true" requireSSL="true" />
		<customErrors mode="Off" defaultRedirect="error.htm" />
		<compilation targetFramework="4.8" debug="true">
		</compilation>
		<authentication mode="None" />
		<httpRuntime requestValidationMode="2.0" />
		<pages validateRequest="true" controlRenderingCompatibilityVersion="4.0" />
	</system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.2.0" newVersion="8.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.2.0" newVersion="8.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.2.0" newVersion="8.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.2.0" newVersion="8.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.2.0.0" newVersion="8.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>