<?xml version="1.0" encoding="UTF-8"?>
<configuration>
     <system.web>
        <customErrors mode="On" />
        <authorization>
            <allow users="smustf\jeremymak,smustf\hendryw,smustf\abbasalihr,smustf\subaashinip" />
            <deny users="*" />
        </authorization>
    </system.web>
</configuration>
